body .modal-backdrop.in {
  opacity: 0;
  pointer-events: none;
}

.name-bar .btn{
  margin-top: 10px;
  margin-right: 10px;
}

#contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 20px;
  padding: 8px;
  position: relative;
  overflow: hidden;
}
.contact:hover {
  background: rgb(235, 235, 235);
}

.contact .names {
  font-weight: bold;
  display: flex;
}

.lastname {
  margin-right: 5px;
}

.update-contact {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

#root .container .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: unset;
  z-index: 3;
  pointer-events: all;
  width: 100%;
}
#root .container .modal.in {
  pointer-events: all;
}
#root .container .modal .modal-dialog {
  margin: 0;
  height: 100%;
  margin-left: auto;
}

#root .container .modal .modal-dialog .modal-content {
  border-radius: 0;
  height: 100%;
  background: lightblue;
}

#root .container .modal .modal-dialog .modal-content > div {
  border-bottom: none;
  border-top: none;
}
#root .container .modal-body {
  display: flex;
  flex-direction: column;
}
#root .container .modal-body input {
  margin-bottom: 10px;
}
#root .container .modal-title {
  font-weight: bold;
  font-size: 1.2em;
}
#root .container .modal.fade .modal-dialog {
  -webkit-transform: translate(25%,0);
  -ms-transform: translate(25%,0);
  -o-transform: translate(25%,0);
  transform: translate(25%,0);
}

#root .container .modal.in .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}